%ul
  - examples_for(resource).grouped.each_pair do |grouping, examples|
    %li
      = link_to grouping.title, grouping.fragment
      %em
        = surround "(", ")" do
          = pluralize examples.length, "example"


- examples_for(resource).grouped.each_pair do |grouping, examples|

  %section{id: grouping.id}
    %h2= grouping.title

    - examples.each do |example|

      .example

        %p
          %strong Example:
          = succeed "." do
            = example.subtitle

        .http

          .request

            %span.label Request

            - code(:http) do
              = example.http_request

          .response

            %span.label Reponse

            - code(:http) do
              = example.http_response

        = top_of_page_link
