%ul
  - examples_for(resource).grouped.each_pair do |grouping, examples|
    %li
      = link_to grouping.title, grouping.fragment
      %em
        = surround "(", ")" do
          = pluralize examples.length, "example"


- examples_for(resource).grouped.each_pair do |grouping, examples|

  %section{id: grouping.id}
    %h2= grouping.title

    - examples.each do |example|

      %p= example.subtitle

      - code(:http) do
        = example.http_request

      - code(:http) do
        = example.http_response

    = top_of_page_link
