---
title: 
description: The86 Documentation
---


<ul class="toc">
  <li><%= link_to "Introduction", introduction_path %></li>
  <li><%= link_to "Clients", clients_path %></li>
  <li><%= link_to "Versioning", versioning_path %></li>
  <li><%= link_to "Authentication", authentication_path %></li>
  <li><%= link_to "Errors", errors_path %></li>
  <li><%= link_to "Representations", representations_path %></li>
  <li>
    Resources
    <ul>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Groups", groups_path %></li>
      <li><%= link_to "Conversations", conversations_path %></li>
      <li><%= link_to "Posts", posts_path %></li>
    </ul>
  </li>
</ul>


<%# Sections %>
<%= partial "introduction" %>
<%= partial "clients" %>
<%= partial "versioning" %>
<%= partial "authentication" %>
<%= partial "errors" %>
<%= partial "representations" %>
